@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

// Expand Container to full width
.main-container {
    min-height: 100vh;
}

// Sticky Class
.sticky {
    position: fixed;
    width: inherit;
    padding: 0 1.5rem 0 1.5rem;
}

.site-title{
    padding-top: 8%;
}

.site-description{
    padding-top: 4%;
}

.desktop-menu{
    padding-top: 5%;
}

.social-icons{
    padding-top: 10%;
}

.copyright{
    padding-top: 8%;
}

.filter-category{
    padding-top: 10%;
}

// Mobile Menu
.menu-icons-left{
    position: absolute;
    padding-top: 1rem;
    left: 1rem;
}

.mobile-menu{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #fafafa;
    border-radius: 0rem 2rem 2rem 0rem;
    // 5 because of a contact page form icon in email field
    z-index: 5;
    transition: all 0.15s linear;
    left: 0;
    overflow: hidden;
}

.mobile-menu.show {
    width: 80%;
    /* Mobile menu overflow scroll with sticky */
    overflow-y: scroll;
}

.mobile-menu-close{
    position: sticky;
    padding-left: 87%;
    top: 1rem;
}

.menu-content{
    padding-left: 1rem;
}

.mobile-menu-filters{
    padding-top: 3rem;
}

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Main Section Padding
$section-padding: 3rem 0.5rem 1rem;

// Card Adjustments
$box-padding: 0px;

// Footer Adjustments
$footer-padding: 0rem 0rem 1rem;
$footer-background-color: rgba(255,255,255,0);

// Bulma Personalization
$link: #7a7a7a;

// Import all
@import "../node_modules/bulma/bulma.sass";
// Import only what you need from Bulma
/*
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/tools.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
*/
