<div class="column is-one-fifth is-centered">
    <div class="container sticky">
        <h1 class="title is-5">Posts by Year</h1>
        <div class="buttons">
            {{ range .Site.Taxonomies.year }}
            <a href="{{ .Page.RelPermalink }}" class="button is-rounded has-background-grey has-text-white">
                <span>{{ .Page.Title }}</span>
            </a>
            {{end}}
        </div>
        <h1 class="title is-5">Posts by Category</h1>
        <div class="buttons">
            {{ range .Site.Taxonomies.categories }}
            <a href="{{ .Page.RelPermalink }}" class="button is-rounded has-background-grey-dark has-text-white">
                <span>{{ .Page.Title | humanize }}</span>
            </a>
            {{ end }}
        </div>
    </div>
</div>
