<div class="column is-one-fifth">
    <div class="has-text-centered">
        <figure class="image is-128x128 is-inline-block mb-6">
            <img class="is-rounded" alt="{{.Site.Params.blogName}} Avatar"
                                    src="{{.Site.Params.AvatarURL}}">
        </figure>
        <h1 class="title is-3 mb-6">{{.Site.Params.BlogName}}</h1>
        <h2 class="subtitle is-5 mb-6">{{.Site.Params.BlogDescription}}</h2>
        <aside class="menu">
            <ul class="menu-list">
                {{ range .Site.Menus.main }}
                <li><a href="{{.URL | safeHTML}}"><span>{{.Name | safeHTML}}</span></a></li>
                {{ end }}
            </ul>
        </aside>
    </div>
</div>
