<div class="column is-one-fifth">
    <div class="has-text-centered">
        <figure class="image is-128x128 is-inline-block mb-6">
            <img class="is-rounded" alt="Image" src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
        <h1 class="title is-3 mb-6">FirstName Middlename LastName</h1>
        <h2 class="subtitle is-5 mb-6">Personal Blog of FirstName LastName</h2>
        <aside class="menu">
            <ul class="menu-list">
                <li><a><span>Home</span></a></li>
                <li><a><span>About</span></a></li>
                <li><a><span>Contact</span></a></li>
            </ul>
        </aside>
    </div>
</div>
