{{ define "main" }}
<div class="column">
    {{ range first .Site.Params.PostsOnHome .Site.RegularPages }}
    <div class="box">
        <a href={{ .Permalink }}>
            <div class="card">
                {{ if .Params.HeaderImage }}    
                <div class="card-image">
                    <figure class="image {{.Params.ImageAspectRatio}}">
                        <img src="{{.Params.ImageLink}}" alt="{{ .Params.ImageDesc }}">
                    </figure>
                </div>
                {{ end }}
                <div class="card-content">
                    <h1 class="title is-size-3">{{ .Title }}</h1>
                    <h2 class="subtitle content is-size-6 pt-2">
                        {{ .Summary }}
                    </h2>
                    <div class="control">
                    <div class="buttons are-small">
                        {{ range .GetTerms "categories" }}
                        <a class="button is-success p-2 mt-4 mb-5" href="{{ .Permalink }}">
                            {{ .LinkTitle | humanize }}
                            </a>
                        {{ end }}
                    </div>
                    </div>
                    <time datetime="2016-1-1"><i class="far fa-clock"></i> {{ .Date.Format "January 2, 2006" }}</time>
                </div>
            </div>
        </a>
    </div>
    {{ end }}
</div>
{{- partial "filters.html" . -}}
{{ end }}
