<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Blog</title>
        <link href="css/style.css" rel="stylesheet" />
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    </head>
    <body>
        <section class="section">
            <div class="columns is-mobile">
                <div class="column is-one-fifth">
                    <div class="has-text-centered">
                        <figure class="image is-128x128 is-inline-block mb-6">
                            <img class="is-rounded" alt="Image" src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <h1 class="title is-3 mb-6">FirstName LastName</h1>
                        <h2 class="subtitle is-5 mb-6">Personal Blog of FirstName LastName</h2>
                        <aside class="menu">
                            <ul class="menu-list">
                                <li><a><span>Home</span></a></li>
                                <li><a><span>About</span></a></li>
                                <li><a><span>Contact</span></a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-3by1">
                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>

                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-3by1">
                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>

                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <h2>Posts by Year</h2>
                    <div class="buttons">
                        <button class="button">
                            <span class="is-left">2020</span>
                        </button>
                        <button class="button">
                            <span class="is-left">2019</span>
                        </button>
                        <button class="button">
                            <span class="is-left">2020</span>
                        </button>
                        <button class="button">
                            <span class="is-left">2019</span>
                        </button>
                    </div>
                    <h2>Posts by Tags</h2>
                    <div class="buttons">
                        <button class="button">
                            <span class="is-left">2020</span>
                        </button>
                        <button class="button">
                            <span class="is-left">2019</span>
                        </button>
                        <button class="button">
                            <span class="is-left">2020</span>
                        </button>
                        <button class="button">
                            <span class="is-left">2019</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
