{{ define "main" }}
<div class="column">
    {{ range .Pages.ByPublishDate.Reverse }}
    <div class="box">
        <a href={{ .Permalink }}>
            <div class="card">
                {{ if .Params.HeaderImage }}    
                <div class="card-image">
                    <figure class="image {{.Params.ImageAspectRatio}}">
                        <img src="{{.Params.ImageLink}}" alt="{{ .Params.ImageDesc }}">
                    </figure>
                </div>
                {{ end }}
                <div class="card-content">
                    <h1 class="title">{{ .Title }}</h1>
                    <h2 class="subtitle content is-size-6 pt-2">
                        {{ .Summary }}
                        <br>
                        <div class="pt-4" datetime="2016-1-1"><i class="far fa-clock"></i> {{ .Date.Format "January 2, 2006" }}</div>
                    </h2>
                </div>
            </div>
        </a>
    </div>
    {{ end }}
</div>
{{- partial "filters.html" . -}}
{{ end }}
